<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading" align="center">{{ site.title }}</h2>
        <p align="center">Opensource project with codes on <a href="https://github.com/javadev-org/javadev-org.github.io">github</a>.
            You can send pull requests to add or change themes.

            <br/><br/>

            <iframe src="https://ghbtns.com/github-btn.html?user=javadev-org&repo=javadev-org.github.io&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=javadev-org&repo=javadev-org.github.io&type=fork&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
        </p>
    </div>

</footer>
