<footer class="site-footer">

  <div class="wrapper">


      <!-- disquss -->


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'javadev-org';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


<!-- disquss -->

<!-- Google Analitics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4894954-26', 'auto');
  ga('send', 'pageview');

</script>

<!-- Google Analitics -->


    <h2 class="footer-heading" align="center">& <a href="http://js.org/">jsdev.org</a> & {{ site.title }} & <a href="http://javalabs.org/">javalabs.org</a></h2>
        <p align="center">Opensource project with codes on <a href="https://github.com/javadev-org/javadev.org">github</a>.
            You can send pull requests to add or change content.

            <br/><br/>

            <iframe src="https://ghbtns.com/github-btn.html?user=javadev-org&repo=javadev.org&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=javadev-org&repo=javadev.org&type=fork&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
        </p>
    </div>

</footer>
