<footer class="site-footer">

    <div class="wrapper">

        <!-- disquss -->

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'javadev-org';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
                rel="nofollow">comments powered by Disqus.</a></noscript>


        <!-- disquss -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->


        <h2 class="footer-heading" align="center"><a href="//jsdev.org/">jsdev.org</a> & {{ site.title }} </h2>
        <p align="center">Opensource project with codes on <a
                href="https://bitbucket.org/javadev-org/javadev.org">bitbucket</a>.
            You can help if you share your experience with us.
        </p>
    </div>

</footer>