<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">
            <div class="trigger">
                <a class="page-link" href="{{ site.baseurl }}/javadev/"
                    >#JavaDev</a
                >
                <a class="page-link" href="{{ site.baseurl }}/job_offer/"
                    >Job Offer</a
                >
                <a class="page-link" href="{{ site.baseurl }}/about/">About</a>
                <a class="page-link" href="{{ site.baseurl }}/contacts/"
                    >Contacts</a
                >
                <a class="page-link" href="{{ site.baseurl }}/chat/">Chat</a>
                <a class="page-link" href="//labs.javadev.org"
                    >Labs (study java)</a
                >
                <a class="page-link" href="{{ site.baseurl }}/projects/"
                    >OpenSource Java Projects</a
                >
                <a class="page-link" href="{{ site.baseurl }}/sitemap/"
                    >SiteMap</a
                >
            </div>
        </nav>
    </div>
</header>
